@font-face {
	font-family: faune-regular;
	src: url(../../fonts/Faune-Text_Regular.ttf)
}

.header{
	background-color: rgb(243, 226, 226);
	position: relative;
	width: 100%;
	font-family: faune-regular;
}

h1{
	text-align: center;
	font-size: 90px;
	font-weight: bold;
	padding: 90px 0 20px 0; 
}

h2{
	text-align: center;
	font-size: 25px;
	padding-bottom: 40px;
}